header{
    text-align: center;
}

section{
    margin: 2em 30%;
}

span{
    margin: 0.25em;
    color: red;
}

#submit{
    padding: .5em;
    margin: 5px 40%;
    /* position: relative;
    left: 40%; */
   font-weight: 700;
   border: 2px solid black;
}

table{
    border: 2px solid black;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
}

tr td{
    padding: 5px;
}